@import "~vars/colors.scss";
@import "~vars/borders.scss";
@import "~vars/fonts.scss";
@import "~vars/pads.scss";

.loaderPage {
    padding: $pad16;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: $pad4;

    .loaderCaption {
        font-size: $font_xl;
        text-align: center;
        font-weight: normal;    
        color: $dark;
    }
}
