@import "~vars/colors.scss";
@import "~vars/borders.scss";
@import "~vars/fonts.scss";
@import "~vars/pads.scss";

.header {
    background: $white;
    height: 90px;
    display: flex;
    justify-content: space-between;

    border: $border_size solid $dark;

    .logo {
        width: 240px;

        height: 100%;

        display: flex;
        border-right: $border_size solid $dark;

        .logoParticle {
            width: 20px;

            background: $faded_action;
            border-right: $border_size solid $dark;
        }

        .logoName {
            padding: $pad1;

            color: $black;
            font-size: $font_xl;
        }

    }

    .rightContent {
        align-self: center;
        margin-right: $pad2;
    }
}
