@import "~vars/colors.scss";
@import "~vars/fonts.scss";
@import "~vars/pads.scss";
@import "~vars/screens.scss";

.welcome {
    position: relative;
    height: 600px;

    .content {
        height: 100%;
        width: 60%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: $pad4;

        .heading {
            font-size: $font_xxl;
        }

        .paragraph {
            font-size: $font_md;
        }
    }

    .image {
        position: absolute;

        top: 0;
        left: 60%;
        width: 60%;
        height: 100%;

        background-size: cover;
        background-image: url("./images/machine.webp");
        background-position: 50% 50%;

        clip-path: circle(40% at 50% 50%);
    }
}

@media all and (max-width: $screen_md) {
    .welcome {
        padding-left: $pad3;
        padding-right: $pad3;
        
        .content {
            width: 100%;
            padding-top: $pad16;
            justify-content: flex-start;
        }

        .image {
            display: none;
        }
    }
}
