@import "./pads.scss";

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.custom-scroll {
    scrollbar-gutter: stable;
    scrollbar-width: 10px;

    &::-webkit-scrollbar {
        background-color: white;
        width: 10px;
    }
    
    /* background of the scrollbar except button or resizer */
    &::-webkit-scrollbar-track {
        background-color: white;
    }
    
    /* scrollbar itself */
    &::-webkit-scrollbar-thumb {
        background: black;
    }
    
    /* set button(top and bottom of the scrollbar) */
    &::-webkit-scrollbar-button {
        display: none;
    }
}

.page-pad {
    padding-top: $pad8;
    padding-bottom: $pad8;
}
