@import "~vars/colors.scss";

.imageModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white;

    .imageModal {
        position: absolute;
        top: 40px;
        left: 40px;
        right: 40px;
        bottom: 40px;
        background-color: rgba(0, 0, 0, 0.3);
    }
}
