@import "~vars/fonts.scss";
@import "~vars/colors.scss";

.inputContainer {
    display: flex;
    flex-direction: column;

    gap: 2px;

    .label {
        color: $faded_dark;
        font-size: $font_sm;
    }

    .input {
        
    }
}
