@import "~vars/colors";
@import "~vars/pads";

.button {
    display: block;
    min-width: 100px;
    padding: 12px 24px;
    
    cursor: pointer;
    
    border: none;
    border-radius: 4px;

    background: $faded_dark;
    font-size: 16px;
    color: $white;

    transition: background-color .3s, transform .2s;

    .withIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $pad4;

        &_after {
            flex-direction: row-reverse;
        }
    }
}

.button:visited {
    color: $white;
}

.button:disabled {
    background: lighten($faded_dark, 20);
}

button:hover {
    background: $dark;
}

button:active {
    transform: scale(0.98);
}
