@import "~vars/screens";

.container {
    margin: 0 auto;
    width: 100%;
}

@media all and (min-width: $screen_sm) {
    .container {
        width: 620px;
    }
}

@media all and (min-width: $screen_md) {
    .container {
        width: 740px;
    }
}

@media all and (min-width: $screen_lg) {
    .container {
        width: 920px;
    }
}

@media all and (min-width: $screen_xl) {
    .container {
        width: 1200px;
    }
}

