@import "~vars/colors.scss";
@import "~vars/utils.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: border-box;
}

html {
    background: $white;
}

body {
    @extend .custom-scroll;

    height: 100vh;
    overflow: auto;

    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

button {
    border: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: initial;
}

label {
    cursor: pointer;
}

.js-focus-visible .focus-visible:focus {
    outline: 2px solid $dark;
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

:global(.app) {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.slick-list {
    position: relative;
}
