@import '~vars/utils';
@import '~vars/fonts';
@import '~vars/pads';

.authorizedHome {
    @extend .page-pad;
    max-width: 800px;

    .heading {
        font-size: $font_xxl;
    }

    .documents {
        margin-top: $pad4;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: $pad4;
    }
}
