@import "~vars/colors";
@import "~vars/borders";
@import "~vars/fonts";
@import "~vars/screens";
@import "~vars/pads";

.content {
    border: $border_size solid $dark;
    padding: 12px 15px;
    font-size: $font_md;

    width: 100%;


    a {
        color: $faded_action;
    }

    ol, ul {
        padding-left: $pad8;
    }

    ol > li {
        list-style: decimal;
    }
    ul > li {
        list-style: disc;
    }

    img {
        width: 100%;
    }
}

@media all and (min-width: $screen_md) {
    .content {
        width: 720px;

        img {
            max-width: 70%
        }
    }
}
