@import "~vars/pads";
@import "~vars/colors";
@import "~vars/fonts";

.documentCard {
    display: flex;
    flex-direction: column;
    gap: $pad2;

    padding: $pad4;

    border: 2px solid black;

    transition: background-color .3s ease-in-out;

    &:hover {
        background-color: #f5f5f5;
    }

    .name {
        color: $dark;
        font-size: $font_md;
    }

    .identifier {
        color: $gray;
        font-size: $font_sm;
    }
}
