@import "~vars/pads";
@import "~vars/colors";
@import "~vars/fonts";

.messagesContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;

    display: flex;
    flex-direction: column-reverse;

    &.direction_up {
        flex-direction: column-reverse;
    }
}

@keyframes fading {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.2;
    }
}

.message {
    padding: $pad3;
    margin-bottom: $pad1;

    width: 200px;

    border-radius: 4px;

    animation: fading 10s;
    cursor: pointer;

    .messageText {
        font-size: $font_sm;
    }
}

.message_success {
    background-color: #378b0c;
    color: white;
}

.message_error {
    background: darkred;
    color: white;
}

