@import "~vars/colors";
@import "~vars/borders";
@import "~vars/fonts";
@import "~vars/screens";

.editor {
    width: 100%;

    :global(.ql-container) {
        border: none;
    }

    :global(.ql-editor) {
        min-height: 100vh;
        height: 100%;
        border: $border_size solid $dark;

        font-size: $font_md;

        a {
            color: $faded_action;
        }

        ol, ul {
            padding: 0;
        }

        img {
            width: 100%;
        }
    }

    :global(.ql-toolbar) {
        border: $border_size solid $dark;
        border-bottom: none;
    }
}

@media all and (min-width: $screen_md) {
    .editor {
        width: 720px;

        :global(.ql-editor) {
            img {
                max-width: 70%
            }
        }
    }
}
