@import "~vars/colors.scss";
@import "~vars/borders.scss";
@import "~vars/fonts.scss";
@import "~vars/pads.scss";

.errorPage {
    padding: $pad16;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: $pad4;

    .errorIcon {
        position: relative;
        width: 64px;
        height: 64px;

        &::before, &::after {
            content: '';
            position: absolute;
            top: 50%;
            margin-top: -10px;

            width: 64px;
            height: 20px;

            background: red;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    .errorCaption {
        font-size: $font_xl;
        text-align: center;
        font-weight: normal;    
        color: $dark;
    }
}
